[submodule "gateway"]
	path = gateway
	url = https://github.com/D3vCor3Bits/Gateway.git
[submodule "usuarios-autenticacion-ms"]
	path = usuarios-autenticacion-ms
	url = https://github.com/D3vCor3Bits/Usuarios-Autenticacion-Microservice.git
[submodule "descripciones-imagenes-ms"]
	path = descripciones-imagenes-ms
	url = https://github.com/D3vCor3Bits/Descripciones-Imagenes-Microservice.git
