apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'gateway'
        static_configs:
          - targets: ['gateway-service:3000']
        metrics_path: '/metrics'
      
      - job_name: 'usuarios-autenticacion-ms'
        static_configs:
          - targets: ['usuarios-autenticacion-service:3001']
        metrics_path: '/metrics'
      
      - job_name: 'descripciones-imagenes-ms'
        static_configs:
          - targets: ['descripciones-imagenes-service:3002']
        metrics_path: '/metrics'
      
      - job_name: 'alertas-reportes-ms'
        static_configs:
          - targets: ['alertas-reportes-service:3003']
        metrics_path: '/metrics'

      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
